body {
  margin: 0;
  font-family: 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar{
  position: sticky;
  margin-bottom: 4rem;
  top:0;
  display: flex;
  font-size: 1.3rem;
  gap:10rem;
  height:4.5rem;
  flex-direction: row;
  justify-content: end;
  padding-right: 5rem;
  align-items: center;
  background-color: rgb(227, 141, 141);
}

.navbar a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}


.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 2.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
}

.product-card {
  background-color: #f9f9f9;
  max-width: 20rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card input{
  width:2rem;
}

.product-card img {
  height: 18rem;
  border-radius: 8px;
}

.product-card a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
}

.product-price {
  color: #555;
  font-size: 16px;
  margin: 8px 0;
}

button {
  margin-top: 1rem;
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.cart-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem; 
  height: 1.5rem; 
  border-radius: 50%; 
  background-color: red; 
  color: white; 
  font-size: 0.75rem; 
  position: absolute; 
  top: 1.2rem; 
  right: 4.5rem; 
  transform: translate(50%, -50%); 
}

.cart-container {
  display: flex;
  max-width: 60rem;
  margin: 0 auto; 
  padding: 2rem;
  background-color: #f9f9f9; 
  border-radius: 8px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.shopping-cart-price-box{
  width:15rem;
  border-right:black solid;
}

.cart-items-list{
  width: 40rem;
}

.cart-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.cart-summary {
  font-size: 16px;
  margin: 5px 0; 
}

.cart-items-list {
  margin-left: 3rem;
  list-style-type: none; 
  padding: 0; 
}

.cart-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd; 
}

.cart-item:last-child {
  border-bottom: none; 
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-name {
  font-weight: bold; 
}

.cart-item-quantity {
  margin-left: 10px; 
}

.cart-item-actions {
  display: flex; 
}

.cart-button {
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 4px; 
  padding: 5px 10px;
  margin-left: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.cart-button:hover {
  background-color: #0056b3; 
}

.remove-button {
  background-color: #dc3545; 
}

.remove-button:hover {
  background-color: #c82333; 
}

.product-details{
  border:black solid;
  border-radius: 8px;
  display: flex;
  gap:7rem;
  padding: 4rem;
  width: 60rem;
  margin: auto;

}

.product-detail-price{
  font-size: 1.5rem;
}

.product-details-left img{
  height:30rem;
}

.product-details-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-details-right{
  margin-top: 12rem;
  display: flex;
  flex-direction: column;
  
}

.product-details-right input{
  margin-top: 1rem;
  width: 3rem;
}

.product-details-right button{
  margin-top: 2rem;
}

.product-description{
  font-size: 1.3rem;
}

